
#h{width:100%;
   height:270px;
   text-align:center;
   background-image:url("pic01.jpg");
   
   }
  #h1{padding-top:50px;
      font-family:Times New Roman,Lucida Grande,Georgia;
	  font-size:50px;
      margin: 0 auto;
     }
	
  #p1{padding-top:12px;
      font-size:18px;
     }

  #b1{padding-top:12px;
     }


.d{
   margin-top:40px;


}
.h2{
    font-family:Tahoma;
   }  

 #h2{padding-top:15px;
 }

#footer{font-size:18px;
      
	  
	  }